body {
	background-color: white;
	margin: 0;
	padding: 0;
	color : black;
}

.content {
	margin-top: 70px;
	background-color: white;
	min-height: 600px;
}

.dropdown-menu{
	border-radius:0px 0px 0px 0px
}
p.small {
	font-size: 0.8em;
	color: #6D6D6D;
}

.footer_links {
	color: #BBBBBB;
	font-size: 0.85em;
	padding: 10px;
}

.inner-col {
	margin-right: 10px;
	padding: 10px;
}

.inner-h {
	padding-left: 10px;
	padding-right: 10px;
}

.inner-v {
	padding-bottom: 10px;
	padding-top: 10px;
}

h1,h2 {
	color: #E98007;
}

h3,h4 {
	color: #4D4D4D;
}

h1,h2,h3 {
	text-shadow: 2px 1px 3px #C9C9C9;
}

.input-tiny {
	width: 5px;
}

.td-5 {
	width: 5%;
}

.td-10 {
	width: 10%;
}

.td-15 {
	width: 15%;
}

.td-17 {
	width: 17%;
}

.td-20 {
	width: 20%;
}

.td-25 {
	width: 25%;
}

.td-33 {
	width: 33%;
}

.td-50 {
	width: 50%;
}

.td-67 {
	width: 67%;
}

.td-75 {
	width: 75%;
}

.w-50 {
	margin: 0 auto;
	width: 50%;
}

.w-75 {
	margin: 0 auto;
	width: 75%;
}

.w-90 {
	margin: 0 auto;
	width: 90%;
}

.w-100 {
	margin: 0 auto;
	width: 100%;
}

td.center,th.center {
	text-align: center !important;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

legend {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #333333;
	display: block;
	font-size: 19.5px;
	line-height: 36px;
	margin-bottom: 27px;
	padding: 0;
	width: 100%;
}

legend small {
	color: #999999;
	font-size: 13.5px;
}

.tblhr {
	color: white;
}

.logo {
	background: url("../img/logo.png") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 100px;
	margin: 0 15px 0 5px;
	width: 126px;
}

#menu {
    width: 100%;
    margin: 0px auto;
    height: 40px;
    background: -moz-linear-gradient(center top , rgb(80, 80, 80), rgb(52, 52, 52)) repeat scroll 0% 0% transparent;
    box-shadow: 3px 3px 3px rgb(183, 183, 183);
}

.powered-by-info {
    float: right;
}

.powered-by-info .powered-by-label {
    font-size: 0.8em;
}


#ds-initial-notification a{
	background-color: white;
    border: 1px solid #74A82A;
    color: red;
    font-weight: bold;
    line-height: 18px !important;
    margin: 10px 0;
    padding: 3px 6px;
}

#ds-initial-notification a:hover{
	background-color: #FF6600;
    color: white;
    cursor: pointer;
}

.gts-flat-dropdown-menu {
    max-width: 900px;
}
.gts-flat-dropdown-menu td {
    vertical-align: top;
}
.gts-user-dropdown-menu {
    padding-left: 6px;
    padding-right: 6px;
    width: 300px;
}
.gts-user-dropdown-menu .user-photo {
    background: none no-repeat scroll 0 0 transparent;
    height: 64px;
    vertical-align: top;
    width: 64px;
}
.gts-user-dropdown-menu .user-details {
    display: inline-block;
    width: 195px;
}
.user-name {
    color: #5F5F5F;
    font-size: 1.0em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #C9C9C9;
}

.user-email{
	 color: #5F5F5F;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #C9C9C9;
}

.gts-user-dropdown-menu .user-footer {
    width: 100%;
}
.gts-user-dropdown-menu .user-footer .user-signout {
    clear: none !important;
    margin-right: 5px;
    width: 115px;
}

.dropdown-menu a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #003482;
    color: #FFFFFF;
    text-decoration: none;
}


.bookmark-listing-box-header{
	
}